<div class="p-grid">
  <div class="p-col">
    <div class="box">
      <div class="card" style="background-color:transparent;">
        <div class="card-header">
          <h1 style="font-weight: 100;">Wellcome</h1>
        </div>

        <p style="font-size: 1.1em; font-weight: 100; line-height: 1.7;">
          In this website you can get a lot of information about some games
        </p>

      </div>
    </div>
  </div>
  <div class="p-col">
    <div class="box"></div>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-1">
    <div class="box"></div>
  </div>
  <div class="p-col-4">
    <div class="box">
      <div class="card" style="background-color:transparent;">
        <div class="card-header">
          <button style="width: 100%;" pButton pRipple type="button" label="Primary"
            class="p-button-outlined p-mr-2 p-mb-2"></button>
          <button style="width: 100%; margin-left: 2%;" pButton pRipple type="button" label="Primary"
            class="p-button-outlined p-mr-2 p-mb-2"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-grid">
  <div class="p-col">
    <div class="box">
      <div class="card" style="background-color:transparent;">
        <div class="card-header">
          <h5>Check out some information about these games</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-grid" style="text-align: center;">
  <div class="p-col-3">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>Dark Souls Remastered</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/1.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="dark-lore" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
  <div class="p-col-3">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>Dark Souls III</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/2.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="dark-souls-iii-bosses" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
  <div class="p-col-3" style="text-align: center;">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>Dark Souls II</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/4.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="dark-souls-ii-bosses" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
  <div class="p-col-3">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>Cuphead</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/3.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/71ZTOWIQI-L.jpg" alt=""> -->
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="lol" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
</div>

<div class="p-grid" style="text-align: center; margin-top: 2%;">
  <div class="p-col-3">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>Sekiro</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/11.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="lol" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
  <div class="p-col-3">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>Elder Ring</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/10.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="elder-ring-bosses" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
  <div class="p-col-3" style="text-align: center;">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>Bloodborne</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/9.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="lol" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
  <div class="p-col-3">
    <div class="box">
      <div class="card">
        <div class="card-header c">
          <h5>League of Legends</h5>
        </div>
        <div
          style="height: 350px; background-image: url('./../../../assets/demo/images/home/8.jpg'); background-size: cover;"
          class="card-body">
        </div>
        <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/71ZTOWIQI-L.jpg" alt=""> -->
        <p style="font-size: 1.1em; line-height: 1.7;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
          incididunt ut labore et
          dolore magna aliqua.</p>
        <button style="width: 100%;" routerLink="lol" pButton pRipple type="button" label="Check Out"
          class="p-button-outlined p-mr-2 p-mb-2"></button>
      </div>
    </div>
  </div>
</div>