::ng-deep .layout-wrapper .layout-main .layout-content {
    background: #292d31;
    filter: contrast(105%);
}

.card {
    border-radius: 15px;
}

.c {
    padding: 3%;
}

button {
    border-radius: 15px;
    height: 38px;
}
