<div class="p-grid table-demo">
	<div class="p-col-12">
		<div class="card">
			<h5>Items</h5>
			<div class="card">
				<p-tabView orientation="left">
					<p-tabPanel header="Bosses">
						<p-table #dt [value]="customers1" [(selection)]="selectedCustomers1" dataKey="id"
							styleClass="p-datatable-customers" [rowHover]="true" [rows]="10" [paginator]="true"
							[filterDelay]="0"
							[globalFilterFields]="['name','country.name','representative.name','status']">
							<ng-template pTemplate="caption">
								<div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header" style="width: 100%;">
									<span class="p-input-icon-left"  style="width: 100%;">
										<i class="pi pi-search"></i>
										<input pInputText type="text"  style="width: 30%;"
											(input)="dt.filterGlobal($event.target.value, 'contains')"
											placeholder="Global Search" />
									</span>
								</div>
							</ng-template>
							<ng-template pTemplate="header">
								<tr>
									<th pSortableColumn="country.name">
										<div class="p-d-flex p-jc-between p-ai-center">
											Loot
											<p-sortIcon field="country.name"></p-sortIcon>
											<p-columnFilter type="text" field="country.name" display="menu"
												class="p-ml-auto">
											</p-columnFilter>
										</div>
									</th>
									<th pSortableColumn="name">
										<div class="p-d-flex p-jc-between p-ai-center">
											Name
											<p-sortIcon field="name"></p-sortIcon>
											<p-columnFilter type="text" field="name" display="menu" class="p-ml-auto">
											</p-columnFilter>
										</div>
									</th>
									<th pSortableColumn="representative.name">
										<div class="p-d-flex p-jc-between p-ai-center">
											Souls
											<p-sortIcon field="representative.name"></p-sortIcon>
											<p-columnFilter field="representative" matchMode="in" display="menu"
												[showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
												<ng-template pTemplate="header">
													<div class="p-px-3 p-pt-3 p-pb-0">
														<span class="p-text-bold">Agent Picker</span>
													</div>
												</ng-template>
												<ng-template pTemplate="filter" let-value let-filter="filterCallback">
													<p-multiSelect [ngModel]="value" [options]="representatives"
														placeholder="Any" (onChange)="filter($event.value)"
														optionLabel="name">
														<ng-template let-option pTemplate="item">
															<div class="p-multiselect-representative-option">
																<img [alt]="option.label"
																	src="assets/demo/images/avatar/{{option.image}}"
																	width="32" style="vertical-align: middle" />
																<span class="p-ml-1">{{option.name}}</span>
															</div>
														</ng-template>
													</p-multiSelect>
												</ng-template>
											</p-columnFilter>
										</div>
									</th>
									<th pSortableColumn="date">
										<div class="p-d-flex p-jc-between p-ai-center">
											Date
											<p-sortIcon field="date"></p-sortIcon>
											<p-columnFilter type="date" field="date" display="menu" class="p-ml-auto">
											</p-columnFilter>
										</div>
									</th>
									<th pSortableColumn="balance">
										<div class="p-d-flex p-jc-between p-ai-center">
											Balance
											<p-sortIcon field="balance"></p-sortIcon>
											<p-columnFilter type="numeric" field="balance" display="menu" currency="USD"
												class="p-ml-auto"></p-columnFilter>
										</div>
									</th>
									<th pSortableColumn="status">
										<div class="p-d-flex p-jc-between p-ai-center">
											Required
											<p-sortIcon field="status"></p-sortIcon>
											<p-columnFilter field="status" matchMode="equals" display="menu">
												<ng-template pTemplate="filter" let-value let-filter="filterCallback">
													<p-dropdown [ngModel]="value" [options]="statuses"
														(onChange)="filter($event.value)" placeholder="Any">
														<ng-template let-option pTemplate="item">
															<span
																[class]="'customer-badge status-' + option.value">{{option.label}}</span>
														</ng-template>
													</p-dropdown>
												</ng-template>
											</p-columnFilter>
										</div>
									</th>
									<th pSortableColumn="activity">
										<div class="p-d-flex p-jc-between p-ai-center">
											Activity
											<p-sortIcon field="activity"></p-sortIcon>
											<p-columnFilter field="activity" matchMode="between" display="menu"
												[showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
												<ng-template pTemplate="filter" let-filter="filterCallback">
													<p-slider [ngModel]="activityValues" [range]="true"
														(onSlideEnd)="filter($event.values)" styleClass="p-m-3">
													</p-slider>
													<div class="p-d-flex p-ai-center p-jc-between p-px-2">
														<span>{{activityValues[0]}}</span>
														<span>{{activityValues[1]}}</span>
													</div>
												</ng-template>
											</p-columnFilter>
										</div>
									</th>
								</tr>
							</ng-template>
							<ng-template pTemplate="body" let-customer>
								<tr class="p-selectable-row">
									<td>
										<span class="p-column-title">Country</span>
										<img [alt]="customer.representative.name"
											src="assets/demo/images/dark-souls-ii/bosses/{{customer.representative.image}}"
											width="32" style="vertical-align: middle" />
									</td>
									<td>
										<span class="p-column-title">Name</span>
										{{customer.name}}
									</td>
									<td>
										<span class="p-column-title">Representative</span>
										<span class="p-column-title">Date</span>
										{{customer.date | date: 'MM/dd/yyyy'}}
									</td>
									<td>
										<span class="p-column-title">Date</span>
										{{customer.date | date: 'MM/dd/yyyy'}}
									</td>
									<td>
										<span class="p-column-title">Balance</span>
										{{customer.balance | currency:'USD':'symbol'}}
									</td>
									<td>
										<span class="p-column-title">Status</span>
										<span
											[class]="'customer-badge status-' + customer.status">{{customer.status}}</span>
									</td>
									<td>
										<span class="p-column-title">Activity</span>
										<p-progressBar [value]="customer.activity" [showValue]="false"></p-progressBar>
									</td>
								</tr>
							</ng-template>
							<ng-template pTemplate="emptymessage">
								<tr>
									<td colspan="8">No customers found.</td>
								</tr>
							</ng-template>
						</p-table>

					</p-tabPanel>
					<p-tabPanel header="Arrows">
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
						laudantium,
						totam rem aperiam, eaque
						ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						Nemo
						enim ipsam voluptatem quia
						voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
						voluptatem sequi nesciunt.
						Consectetur, adipisci velit, sed quia non numquam eius modi.
					</p-tabPanel>
					<p-tabPanel header="Bonfire Items">
						At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
						deleniti atque corrupti quos dolores
						et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
						officia deserunt mollitia animi, id est laborum et dolorum fuga.
						Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
						est
						eligendi optio cumque nihil impedit
						quo minus.
					</p-tabPanel>
					<p-tabPanel header="Consumables">
						Consumables
					</p-tabPanel>
					<p-tabPanel header="Multiplayer Items">
						Multiplayer Items
					</p-tabPanel>
					<p-tabPanel header="Keys">
						Keys
					</p-tabPanel>
					<p-tabPanel header="Rings">
						Rings
					</p-tabPanel>
					<p-tabPanel header="Armor Sets">
						Armor Sets
					</p-tabPanel>
					<p-tabPanel header="Head">
						Head
					</p-tabPanel>
					<p-tabPanel header="Chest">
						Chest
					</p-tabPanel>
					<p-tabPanel header="Hands">
						Hands
					</p-tabPanel>
					<p-tabPanel header="Legs">
						Legs
					</p-tabPanel>
				</p-tabView>
			</div>

		</div>
	</div>